In [1]:
import pandas as pd
import numpy as np
from scipy import linalg
from scipy.sparse import rand
from scipy.optimize import lsq_linear

In [2]:
df = pd.read_excel('Total.xlsx', index_col=None)
df.head()

,Comment,Type,SiO2,TiO2,Al2O3,FeO,MnO,MgO,CaO,Na2O,K2O,P2O5,Cr2O3,Cl,Total,Note
0,2015V_CATM_02B,ol,39.074082,0.043983,0.058033,24.602416,0.372069,35.407816,0.318533,0.032595,0.050444,0.040025,0.000015,0.0,100.0,NaN
1,2015V_CATM_02B,ol,38.521878,0.062423,0.089446,23.367771,0.342059,37.153925,0.301638,0.060938,0.033378,0.025608,0.040935,0.0,100.0,NaN
2,2015V_CATM_02B,ol,38.247280,0.083694,0.012552,23.546029,0.402426,37.309714,0.319298,0.014502,0.000012,0.064515,0.000015,0.0,100.0,renamed py to ol
3,2015V_CATM_02B,ol,37.262429,0.050727,0.016633,25.610742,0.394023,36.213124,0.303565,0.043847,0.067424,0.000023,0.037474,0.0,100.0,renamed py to ol
4,2015V_CATM_02B,plg,51.572167,0.097967,29.955769,1.168641,0.000013,0.184024,12.744245,3.953795,0.181760,0.113627,0.027993,0.0,100.0,NaN

In [3]:
df_mean = df.groupby(['Comment', 'Type']).mean()
df_mean.head()

                          SiO2      TiO2      Al2O3        FeO       MnO  \
Comment        Type
2015V_CATM_02B ol    38.276417  0.060207   0.044166  24.281740  0.377644
               plg   52.391641  0.087828  29.245856   1.118707  0.007473
               py    52.901542  0.912235   3.992055  13.267160  0.320471
2015V_CATM_03A MG    53.228923  3.011191  12.551500  14.452991  0.214677
               plg   53.934903  0.235806  26.708583   2.101955  0.027170

                           MgO        CaO      Na2O       K2O      P2O5  \
Comment        Type
2015V_CATM_02B ol    36.521145   0.310758  0.037971  0.037815  0.032543
               plg    0.166958  12.295142  4.352234  0.205820  0.109169
               py    18.118336   9.345568  0.562372  0.252898  0.167236
2015V_CATM_03A MG     3.443567   7.549569  3.204612  1.601352  0.719039
               plg    0.338803  11.136058  4.974932  0.399227  0.111876

                        Cr2O3        Cl  Total
Comment        Type
2015V_CATM_02B ol    0.019610  0.000000  100.0
               plg   0.019178  0.000000  100.0
               py    0.160121  0.000000  100.0
2015V_CATM_03A MG    0.003308  0.019269  100.0
               plg   0.030689  0.000000  100.0

In [4]:
index_column=df_mean.index.values.tolist()
Comment=list(set([index_column[i][0] for i in range(len(index_column))]))
Comment.sort()
Comment

['2015V_CATM_02B',
 '2015V_CATM_03A',
 '2015V_CATM_03B',
 '2015V_CATM_04AB',
 '2015V_CATM_05AB',
 '2015V_CATM_06A',
 '2015V_CATM_06B',
 '2015V_CATM_07A',
 '2015V_CATM_07B',
 '2015V_CATM_08A',
 '2015V_CATM_08B',
 '2015V_CATM_09A',
 '2015V_CATM_09B',
 '2015V_CATM_10A',
 '2015V_CATM_10B',
 '2015V_CATM_11A',
 '2015V_CATM_11B',
 '2015V_CATM_12A',
 '2015V_CATM_12B',
 '2015V_CATM_13A',
 '2015V_CATM_13B',
 '2015V_CATM_14B',
 '2015V_CATM_stA',
 '2015V_natural_A3']

In [5]:
list1=[54.0992831,1.3532258,16.4948484,9.3330848,0.1490751,5.3123065,8.7824767,3.3455042,0.8224647,0.2870586,0.0206703]
starting =np.array(list1)

In [6]:
modal_table = pd.DataFrame()
for i in range(len(Comment)):
    mineral_comp=df_mean.loc[Comment[i]].transpose()[:11].to_numpy()
    x = lsq_linear(mineral_comp, starting, bounds=(0,1), lsmr_tol='auto', verbose=1)
    modal_ratio=list(x.values())[0].tolist()
    mineral_list=df_mean.loc[Comment[i]].index.values.tolist()
    dic = { name:value for name, value in zip(mineral_list, modal_ratio) }
    df_dictionary = pd.DataFrame([dic])
    modal_table = pd.concat([modal_table, df_dictionary], ignore_index=True)

The first-order optimality measure is less than `tol`.
Number of iterations 8, initial cost 6.3326e+01, final cost 1.3020e+01, first-order optimality 1.71e-11.
The unconstrained solution is optimal.
Final cost 1.9721e-01, first-order optimality 5.14e-13
The unconstrained solution is optimal.
Final cost 3.3047e-01, first-order optimality 7.00e-13
The first-order optimality measure is less than `tol`.
Number of iterations 9, initial cost 4.5089e+01, final cost 4.0138e-01, first-order optimality 8.47e-11.
The unconstrained solution is optimal.
Final cost 3.4225e-01, first-order optimality 9.24e-13
The unconstrained solution is optimal.
Final cost 1.1536e-01, first-order optimality 1.47e-12
The first-order optimality measure is less than `tol`.
Number of iterations 9, initial cost 6.0758e+01, final cost 7.7523e-01, first-order optimality 2.37e-13.
The unconstrained solution is optimal.
Final cost 4.4991e-01, first-order optimality 3.20e-12
The unconstrained solution is optimal.
Final cost 4.3975e-01, first-order optimality 2.02e-12
The unconstrained solution is optimal.
Final cost 1.2834e-01, first-order optimality 2.13e-12
The first-order optimality measure is less than `tol`.
Number of iterations 12, initial cost 3.6618e+01, final cost 6.8168e-02, first-order optimality 5.47e-12.
The unconstrained solution is optimal.
Final cost 1.3119e+00, first-order optimality 2.61e-12
The first-order optimality measure is less than `tol`.
Number of iterations 11, initial cost 2.8366e+01, final cost 3.6682e-02, first-order optimality 1.67e-13.
The first-order optimality measure is less than `tol`.
Number of iterations 12, initial cost 1.9634e+01, final cost 4.1805e-01, first-order optimality 1.08e-14.
The unconstrained solution is optimal.
Final cost 6.7188e-02, first-order optimality 5.26e-13
The unconstrained solution is optimal.
Final cost 6.8546e-01, first-order optimality 7.38e-13
The first-order optimality measure is less than `tol`.
Number of iterations 9, initial cost 3.1913e+00, final cost 2.0226e-01, first-order optimality 5.12e-11.
The unconstrained solution is optimal.
Final cost 9.2023e-01, first-order optimality 5.06e-13
The unconstrained solution is optimal.
Final cost 3.9831e-01, first-order optimality 6.66e-14
The unconstrained solution is optimal.
Final cost 4.4520e-01, first-order optimality 2.32e-13
The unconstrained solution is optimal.
Final cost 7.6255e-01, first-order optimality 2.38e-13
The first-order optimality measure is less than `tol`.
Number of iterations 9, initial cost 5.7553e+01, final cost 1.1729e+01, first-order optimality 2.76e-11.
The first-order optimality measure is less than `tol`.
Number of iterations 21, initial cost 1.7025e+01, final cost 1.5564e-11, first-order optimality 3.10e-11.
The first-order optimality measure is less than `tol`.
Number of iterations 14, initial cost 1.8986e+02, final cost 3.8099e-01, first-order optimality 1.84e-13.

In [8]:
modal_table.index=Comment
modal_table = modal_table[["MG", "plg", "ol", "py", "Spinel"]]
modal_table.to_excel('modal_table.xlsx')
modal_table

                        MG       plg            ol            py        Spinel
2015V_CATM_02B         NaN  0.534464  6.357176e-13  4.746243e-01           NaN
2015V_CATM_03A    0.346854  0.256827           NaN  4.071461e-01           NaN
2015V_CATM_03B    0.495916  0.331698  5.532647e-03  1.760343e-01           NaN
2015V_CATM_04AB   0.768484  0.215320  7.176967e-12  2.793257e-02           NaN
2015V_CATM_05AB   0.975165  0.006562           NaN           NaN  1.557461e-02
2015V_CATM_06A    0.605658  0.306953           NaN  9.319544e-02           NaN
2015V_CATM_06B    0.554742  0.297037  3.775721e-02  1.233257e-01  3.038556e-16
2015V_CATM_07A    0.470703  0.396516           NaN  1.303074e-01  6.549736e-03
2015V_CATM_07B    0.447697  0.318362           NaN  1.985591e-01  3.445512e-02
2015V_CATM_08A    0.831776  0.160034           NaN  1.447688e-02           NaN
2015V_CATM_08B    0.769290  0.185128  6.919881e-12  5.002093e-02           NaN
2015V_CATM_09A    0.355979  0.401154           NaN  2.255108e-01           NaN
2015V_CATM_09B    0.504985  0.333341  5.487057e-02  1.120252e-01  5.286504e-16
2015V_CATM_10A    0.897626  0.114970           NaN  8.643135e-17           NaN
2015V_CATM_10B    0.787555  0.180147  3.537282e-03  8.166479e-03  2.558985e-02
2015V_CATM_11A    0.990666       NaN           NaN           NaN           NaN
2015V_CATM_11B    1.000000  0.003143           NaN           NaN           NaN
2015V_CATM_12A    0.983832       NaN           NaN           NaN           NaN
2015V_CATM_12B    0.988310       NaN           NaN           NaN           NaN
2015V_CATM_13A    0.965801  0.021893           NaN           NaN           NaN
2015V_CATM_13B    0.956225  0.059965           NaN           NaN           NaN
2015V_CATM_14B         NaN  0.607639  2.837913e-12  3.881929e-01  4.724581e-02
2015V_CATM_stA    1.000000       NaN           NaN           NaN           NaN
2015V_natural_A3  0.740273  0.240041  2.657659e-02  1.342731e-31  5.033983e-04

In [ ]:
modal_table = modal_table[["MG", "plg", "ol", "py", "Spinel"]]